<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tcl.isport">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="q7WbqfGwR0Ld0mxlkwGde66QS48CywVe"/>
        <activity android:name=".Activity.WelcomeActivity"/>
        <activity android:name=".Activity.MainActivity"/>
        <activity android:name=".Activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Activity.LoginQuickActivity"/>
        <activity android:name=".Activity.RegisterActivity"/>
        <activity android:name=".Activity.WalkActivity"/>
        <activity android:name=".Activity.RunActivity"/>
        <activity android:name=".Activity.RideActivity"/>
        <activity android:name=".Activity.MapActivity"/>
        <activity android:name=".Activity.CameraActivity"/>
        <activity android:name=".Activity.ContactUsActivity"/>
        <activity android:name=".Activity.SportsHistoryActivity"/>
        <service
            android:name=".Util.StepService">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.inteng.action.DATE_CHANGED"/>
                <action android:name="android.inteng.action.MEDIA_MOUNTED"/>
                <action android:name="android.inteng.action.USER_PRESENT"/>
                <action android:name="android.inteng.action.ACTION_TIME_TICK"/>
                <action android:name="android.inteng.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.inteng.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </service>
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.hardware.wensor.accelerometer"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
</manifest>